:root {
  --green: #2b891c;
  --blackBG: #211d1b;
  --lightBlack: #2f2926;
}

@font-face {
  font-family: "Modeseven";
  src: url(/Assets/Fonts/modeseven-font/Modeseven-L3n5.ttf);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  background: url(/Assets/Images/BG.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 16px; /* 1rem = 10px */
  padding: 10px;
  color: var(--green);
  background-color: black;
  font-family: "Modeseven", monospace;
  overflow-x: hidden;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px;
}

form button {
  margin-left: 10px;
}

label {
  padding-top: 8px;
  margin-left: 15px;
}

input {
  color: #fff;
  font-family: "Modeseven", monospace;
  background-color: var(--lightBlack);
  border: none;
  text-shadow: 0 0 5px var(--green);
  outline-color: var(--green);
}

button {
  cursor: pointer;
  font-family: "Modeseven", monospace;
  background-color: var(--lightBlack);
  color: var(--green);
  border: none;
  border-radius: 10px;
  margin-left: 10px;
  height: 30px;
}

button:hover {
  box-shadow: 0 2px 10px var(--green);
}

h1 {
  text-align: center;
  text-decoration: underline;
}

table {
  border: 1px dashed var(--green);
  margin: 0 auto;
  padding: 5px;
  border-collapse: collapse;
  width: 1000px;
  background-color: #242120;
}
tr:hover {
  background-color: #0f340a;
}

th {
  background-color: #363230;
  text-align: center;
}

th,
td {
  border: 1px dashed var(--green); /* Establece el borde de las celdas */
  padding: 8px;
  text-align: center;
}

.product-form-styles {
  margin: 25px;
  display: flex;
}

/*Boton de borrar*/
.delete-button {
  color: red;
  border: none;
  border-radius: 5px;
  margin: 5px;
  width: 75px;
  height: 25px;
  background-color: var(--lightBlack);
}

.delete-button:hover {
  box-shadow: 0 5px 15px red;
}

/*Boton de editar*/
.edit-button {
  color: rgb(9, 110, 204);
  border: none;
  border-radius: 5px;
  margin: 5px;
  width: 60px;
  height: 25px;
  background-color: var(--lightBlack);
}

.edit-button:hover {
  box-shadow: 0 5px 15px rgb(9, 110, 204);
}

::placeholder {
  color: #fff;
  text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px var(--green),
    0 0 15px var(--green); /* Efecto de resplandor */
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

.search-input {
  background-color: var(--lightBlack);
  width: 150px;
  height: 25px;
  text-align: center;
}

/*Botón agregar producto*/

.add-product {
  color: var(--green);
  border: none;
  border-radius: 5px;
  background-color: var(--lightBlack);
}

.add-product:hover {
  box-shadow: 0 5px 15px var(--green);
}

.search-div {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  width: 100%;
  height: 100%;
}

/*Efecto glow*/

.glow {
  color: #fff;
  text-align: center;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 5px var(--green),
      0 0 15px var(--green);
  }
  to {
    text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 5px var(--green),
      0 0 6px var(--green);
  }
}

.typewriter h1 {
  overflow: hidden;
  border-right: 0.15em solid var(--green);
  white-space: nowrap;
  margin: 0 auto;
  width: 26ch;
  letter-spacing: 0.15em;
  animation: typing 1.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--green);
  }
}

/*Responsive*/

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

    table {
        width: 100%;
    }

    input {
        width: 100%;
        margin: 5px;
    }

    button {
        width: 100%;
        margin: 5px;
    }

  .search-input {
    width: 100px;
  }

  .search-div {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    width: 100%;
    height: 100%;
  }

  .product-form-styles {
    margin: 25px;
    display: flex;
    flex-direction: column;
  }

  .add-product {
    color: var(--green);
    border: none;
    border-radius: 5px;
    background-color: var(--lightBlack);
    margin: 10px;
  }

  .add-product:hover {
    box-shadow: 0 5px 15px var(--green);
  }

  .delete-button {
    color: red;
    border: none;
    border-radius: 5px;
    margin: 5px;
    width: 75px;
    height: 25px;
    background-color: var(--lightBlack);
  }

  .delete-button:hover {
    box-shadow: 0 5px 15px red;
  }

  /*Boton de editar*/
  .edit-button {
    color: rgb(9, 110, 204);
    border: none;
    border-radius: 5px;
    margin: 5px;
    width: 60px;
    height: 25px;
    background-color: var(--lightBlack);
  }

  .edit-button:hover {
    box-shadow: 0 5px 15px rgb(9, 110, 204);
  }
}
